#game
{
    align-items: center;
    padding: 10px 20px;
    background-color:#f5f5f5;
}

#enermy-boards
{
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.flex-container
{
    display: flex;
    flex-flow: row;
}

.my-board
{
    width: 300px;
    border:1px solid lightgray;
}

.my-next
{
    padding: 2px 2px;
    align-items: center;
}

.nextBlock
{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.enermy-board
{
    width: 100px;
    border:1px solid lightgray;
}

.block
{
    width:25px !important;
    height:25px !important;
    border:1px solid white !important;
}

.cell
{
    width:25px !important;
    height:25px !important;
    background:linear-gradient(to bottom,#A8CFF1,#81B6E4);
    background: lightgrey;
}

.preview-block
{
    width:10px !important;
    height:10px !important;
    border:1px solid white;
}

.preview-cell
{
    width:10px !important;
    height:10px !important;
    background:linear-gradient(to bottom,#A8CFF1,#81B6E4);
    background:lightgrey;
}


.enermy-block
{
    width:10px !important; 
    height:10px !important;
    border:1px solid white !important;
} 

.enermy-cell
{
    width:10px !important; 
    height:10px !important; 
    background:linear-gradient(to bottom,#A8CFF1,#81B6E4);
    background: lightgrey;
}

/* .block0
{
    background:linear-gradient(to bottom,#f1f0a8,#e2e481) !important;
} */

.block1
{
    background:linear-gradient(to bottom,#f1f0a8,#e2e481) !important;
}

.block2
{
    background:linear-gradient(to bottom,#f1a8a8,#e48181) !important;
}

.block3
{
    background:linear-gradient(to bottom,#f1d1a8,#e4bc81) !important;
}

.block4
{
    background:linear-gradient(to bottom,#a8f1a8,#92e481) !important;
}

.block5
{
    background:linear-gradient(to bottom,#a8adf1,#8188e4) !important;
}

.block6
{
    background:linear-gradient(to bottom,#c8a8f1,#b481e4) !important;
}

.block7
{
    background:linear-gradient(to bottom,#eba8f1,#e181e4) !important;
}

.bingo
{
    background:linear-gradient(to bottom,#ffc1c1,#f86060) !important;
    transition:all 0.3s linear;
}

.card
{
    margin-bottom: 20px;
}