.block
{
    width:25px;
    height:25px;
    background:linear-gradient(to bottom,#A8CFF1,#81B6E4) !important;
    border:1px solid white;
}

.cell
{
    width:25px;
    height:25px;
    background:linear-gradient(to bottom,#A8CFF1,#81B6E4);
    background:gray;
}

.preview-block
{
    width:5px;
    height:5px;
    background:linear-gradient(to bottom,#A8CFF1,#81B6E4) !important;
    border:1px solid white;
}

.preview-cell
{
    width:5px;
    height:5px;
    background:linear-gradient(to bottom,#A8CFF1,#81B6E4);
    background:gray;
}

.bingo
{
    background:linear-gradient(to bottom,#fffbc1,#f8ee60) !important;
    transition:all 0.3s linear;
}
